sub_api: bin/rails "fetch_logs[421614,0x001f4321429b1e2df774bdae0fc62a7394652e0f]"
relayer: bin/rails "fetch_logs[421614,0x007eed6207c9af3715964fb7f8b5f44e002a3498]"
ormp: bin/rails "fetch_logs[421614,0x0034607daf9c1dc6628f6e09e81bb232b6603a89]"
oracle: bin/rails "fetch_logs[421614,0x0002396f1d52323fcd1ae8079b38808f046882c3]"
